<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contactos</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <header>
        <h1>Contactos</h1>
    </header>
    <main>
        <section id="contactos">
            <h2>Lista de Contactos</h2>
            <ul>
                <% contactos.forEach(contacto => { %>
                    <li>
                        <strong>Correo electrónico:</strong> <%= contacto.email %><br>
                        <strong>Nombre:</strong> <%= contacto.nombre %><br>
                        <strong>Comentario:</strong> <%= contacto.comentario %><br>
                        <strong>IP:</strong> <%= contacto.ip %><br>
                        <strong>Fecha y hora:</strong> <%= contacto.fecha_hora %>
                    </li>
                <% }) %>
            </ul>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 Escuela de Artes Plásticas Fake School</p>
    </footer>
</body>
</html>
